.App-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.message {
  text-align: center;
  width: 400px;
  height: 200px;
  background-color: palegreen;
  border-radius: 40px;
  color: #282c34;
}